body { background-color: #4d4d4d;
  margin: 0; }

#wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

/* title format */
header { background-color: #b3d9ff;
  text-align: center;
  margin: 0.7em 0 0 0;
  padding: 1em 0 1.5em 0;
  background: #b3d9ff url(http://c1.wikicdn.com/_/xq2j142v/i/theme_aqua_header.jpg) repeat-x bottom }
header h1 { line-height: 1.2em;
  font-size: 36px;
  margin: 0;
  display: inline-block; }

/* main section format */
main { background-color: #fff;
  padding: 15px 12px 20px 18px;
  min-height: 380px;
  line-height: 1.2em }

/* headings format */
h2 { padding: 0.5em 0.3em 0 0;
  margin: 0.5em 0 0 0;
  line-height: 1.2em; }
h3 { color: #333;
  font-size: 1.3em;
  line-height: 1.1em;
  margin: 0.5em 0 0 0; }
h4 { color: #333;
  margin: 0.5em 0 0 0; }

table { line-height: 1em; }
th { text-align: left; }
td { padding: 0 0.2em 0.3em 0; }

.wide-elem { overflow-x: auto;
  padding: 3px; /* to avoid overflow-y problems */ }

.indented { margin: 0 5%; }

/* footer format */
footer { clear: both;
  background-color: #ccc;
  text-align: center; 
  font-size: 0.7em;
  line-height: 1.2em;
  padding: 0.3em;
  margin-bottom: 15px; }

@media only screen and (max-width: 600px) {
  #wrapper { width: 100%; }
  header { margin: 0;
    padding: 0; }
  h2 { margin: 0; }
  #footer { margin-bottom: 0; }
  #yt-video { width: 330; }
}

@media print {
  body { 'Charis SIL',Gentium,serif; }

  .crumbles { display: none; }

  #main h1 { color: #000;
    padding: 0; }
  h2 { color: #000;
    padding: 0; }
  h3, h4 { color: #000; }

  a { text-decoration: none;
    color: #000; }
}
